<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/stylesheets/bootrap5_css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-success fs-4">
        <div class="container-fluid">
            <a class="navbar-brand d-flex justify-content-center align-items-center flex-column" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" class="d-block my-1" viewBox="0 0 118 94"
                     role="img"><title>Bootstrap</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                          fill="#fff"></path>
                </svg>
                <span class="text-white">Pretty Image</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white fs-3 mx-4" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-3 mx-4" href="#">Product's Your</a>
                    </li>
                </ul>

                <form class="d-flex w-25">
                    <input class="form-control me-3 w-100" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>

                <div class="">
                    <a class="nav-link text-white mx-5 d-none" href="/users/login"  >Sign in</a>
                </div>

            </div>
        </div>
    </nav>
    <section class="w-100 bg-gradient">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form method="post" action="/login" id="form" >

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0">Pretty Image</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">
                                            Sign into your account
                                        </h5>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Email address</label>
                                            <input type="email" id="form2Example17"
                                                   class="form-control form-control-lg" name="email"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Password</label>
                                            <input type="password" id="form2Example27"
                                                   class="form-control form-control-lg" name="password"/>
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="button" id="btn">Login</button>
                                        </div>
                                        <p id="result"></p>

                                        <a class="small text-muted" href="#">Forgot password?</a>
                                        <p class="mb-5 pb-lg-2 mt-1">
                                            Don't have an account?
                                            <a href="/register">Register here</a>
                                        </p>
                                        <a href="#" class="small text-muted">Terms of use.</a>
                                        <a href="#" class="small text-muted">Privacy policy</a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<script src="/javascripts/bootrap5_js/bootstrap.bundle.min.js"></script>
<script src="/jquery/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        $('#btn').click((e) => {
            e.preventDefault()
            $.ajax({
                url: '/login',
                type: 'POST',
                data: $('#form').serialize(),
                processData: false,
                success: function (response) {
                    if(response.success) {
                        window.location.href = '/'
                    } else {
                        $('#result').html(response.message)
                    }
                }
            })
            .done(() => console.log('done'))
            .fail((e) => console.log(e))
        })
    })
</script>
</body>
</html>
